@use '@/styles/config.scss' as *;

.nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: $double-average-gap;
  height: calc(#{$space} * 10);
  padding-top: calc(#{$space} * 2);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 100%);
}
