@use '@/styles/config.scss' as *;

.breakdiv {
  height: 55vh;
}

.buttonswrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space;
  margin-inline: auto;
  /*  margin-top: $space; */
}

.articleswrapper {
  display: flex;
  gap: $average-gap;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-top: 25vh;
}

.label {
  @include label();
}

.labels {
  margin-top: calc($space * 4);
  display: flex;
  justify-content: space-between;
}

.contents {
  position: relative;
  border-radius: $radius;
  margin-top: calc($space * 5);
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: calc($space * 2);
  padding: $padding-mid;
  background: $backgroung-grad-base;
  &::before {
    @include border();
    pointer-events: none;
  }
}

@media screen and (max-width: 499px) {
  .contents {
    width: 100%;
    margin-top: calc($space * 8);
  }
}
