{
  "trailingComma": "none",
  "useTabs": false,
  "tabWidth": 2,
  "proseWrap": "never",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSameLine": true
}
