@use '@/styles/config.scss' as *;

.breakdiv {
  height: 47vh;
}

.buttonswrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: $space;
  row-gap: 0;
  margin-top: calc($space * 1.5);
  flex-wrap: wrap;
  margin-inline: auto;
  max-width: $p-max-width;
  /*  margin-top: $space; */
  align-content: flex-start;
}

.articleswrapper {
  display: flex;
  gap: $average-gap;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-top: 30vh;
}

@media screen and (max-width: 499px) {
  .articleswrapper {
    gap: calc($padding + calc($space * 1));
  }
}
