@use '@/styles/config.scss' as *;

.track {
  display: flex;
  align-items: center;
  gap: calc($space * 1.5);
  width: 100%;
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 1;
}

.trackinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  width: $track-size;
  height: $track-size;
  border-radius: $radius-tracks-img;
}

.footer1 {
  @include label();
}
