@use '@/styles/config.scss' as *;

.wrapper {
  margin-top: calc(30px + calc($space * 10));
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: $double-average-gap;
  padding: $padding-mid;
  padding-bottom: $padding;
  background: $backgroung-grad-base;
  height: 20vh;
  border-radius: $radius $radius 0 0;

  &::before {
    @include border();
    pointer-events: none;
    border-radius: $radius $radius 0 0;
  }
}

.buttons {
  display: flex;
  gap: $average-gap;
}

.info {
  display: flex;
  gap: $average-gap;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(calc($max-width/2) - $double-average-gap);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(calc($max-width/2) - $double-average-gap);
}

.text2 {
  @include label();
  opacity: 1;
}

.input {
  position: relative;
}
.inputwrap {
  display: inline;
  position: relative;
}

.btn {
  position: absolute;
  top: calc(2 * $space);
  right: calc(3 * $space);
  width: calc($space * 3);
  height: calc($space * 3);
  background: black;
  border: 0;
  cursor: pointer;
}
.label {
  @include label();
  /* margin-left: calc(3 * $space); */
}

.form {
  position: relative;

  display: flex;
  gap: calc($space/1);
  flex-direction: column;
}
