@use '@/styles/config.scss' as *;

.vid {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  width: 100%;
  object-fit: cover;
}

.wrapper {
  position: absolute;
  top: 0;
  width: $screen-width;
  height: 100vh;
  overflow: hidden;
  /*  isolation: isolate; */
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 75%;
    background: url('@/assets/images/Q_HeroEffect.png') center / cover no-repeat;
    z-index: 1;
    pointer-events: none;
  }
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(#{$space}* 20);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0) 95%
  );
}
