@font-face {
  font-family: 'GT America';
  src: url(../assets/fonts/GT-America-Intl-VF_0-subset.woff2);
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT America';
  src: url(../assets/fonts/GT-America-Intl-VF-Italic-VF-subset.woff2);
  font-style: italic;
  font-display: swap;
}
