@font-face {
  font-family: 'GT America';
  src: url(../assets/fonts/GT-America-Intl-VF_0.woff2),
    url(../assets/fonts/GT-America-Intl-VF_0.ttf);
  font-style: normal;
}
@font-face {
  font-family: 'GT America';
  src: url(../assets/fonts/GT-America-Intl-VF-Italic-VF.woff2),
    url(../assets/fonts/GT-America-Intl-VF-Italic-VF.ttf);
  font-style: italic;
}
