@use '@/styles/config.scss' as *;
@use '@/styles/fonts.scss' as *;

* {
  font-family: 'GT America';
  line-height: $avarage-line-height;
  font-style: normal;
  color: $text-color-white;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  font-stretch: 125%;
}

html {
  scrollbar-gutter: stable;
}

body {
  background: black;
}

h1 {
  font-stretch: 150%;
  font-size: $heading-1-text-size;
  line-height: 100%;
  max-width: $h1-max-width;
  margin-bottom: calc(#{$space} * 5);
  z-index: 10;
}

h2 {
  font-size: $heading-2-text-size;
  font-stretch: 150%;
  z-index: 10;
}

h3 {
  font-size: $heading-3-text-size;
  font-stretch: 150%;
  z-index: 10;
}

h4 {
  font-size: $heading-4-text-size;
  font-stretch: 150%;
  z-index: 10;
}

p {
  font-size: $text-1-text-size;
  max-width: $p-max-width;
  margin: 0;
  z-index: 10;
}

p + p {
  margin-top: $p-gap;
}

li {
  position: relative;
  /* display: flex;
  gap: $space; */
}

li::before {
  content: '— ';
  /* display: block; */
}
