html {
  font-family: 'GT America';
  line-height: 1.5;
  font-style: normal;
  color: white;
  font-weight: 200;
  line-height: 150%;
  -webkit-text-size-adjust: 100%;
  font-stretch: 125%;
}

body {
  background: black;
}
