@use '@/styles/config.scss' as *;

@mixin badge-base() {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: $radius-tracks-img;
  padding: calc($padding-mini * 0.5) $padding-mini;
  background: $backgroung-grad-base;
}

.default {
  @include badge-base();
  &::before {
    @include border();
    border-radius: $radius-tracks-img;
  }
}

.green {
  @include badge-base();
  background: $backgroung-grad-green;
  &::before {
    @include border();
    border-radius: $radius-tracks-img;
  }
}

.red {
  @include badge-base();
  background: $backgroung-grad-red;
  &::before {
    @include border();
    border-radius: $radius-tracks-img;
  }
}

.blue {
  @include badge-base();
  background: $backgroung-grad-blue;
  &::before {
    @include border();
    border-radius: $radius-tracks-img;
  }
}

.disabled {
  @include badge-base();
  color: rgba(255, 255, 255, 0.5);
  background: none;
  &::before {
    @include border();
    border-radius: $radius-tracks-img;
  }
}
