@use '@/styles/config.scss' as *;

.tracks {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  grid-template-rows: repeat(4, auto); /* 4 строки */
  gap: calc($space * 1);
  position: relative;
  z-index: 1;
}

@media (max-width: 499px) {
  .tracks {
    grid-template-columns: 1fr; /* 1 колонка */
    grid-template-rows: repeat(8, auto); /* 8 строк */
  }
}

.trackswrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc($space * 3);

  padding: $padding;
  border-radius: $radius;
  margin-top: calc($space * 8);
  margin-bottom: calc($space * 8);

  &::before {
    @include border();
    pointer-events: none;
  }
}
