@use '@/styles/config.scss' as *;

.tracks {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  grid-template-rows: repeat(4, auto); /* 4 строки */
  gap: $space;
}

.track {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: $space;
  background: rgb(23, 23, 23);
}

.footer1 {
  @include label();
}

.trackswrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $space;
  padding: $padding;
  border-radius: $radius;
  margin-top: calc($space * 8);
  margin-bottom: calc($space * 8);

  &::before {
    @include border();
  }
}
