@use '@/styles/config.scss' as *;

.breakdiv {
  height: $upper-h1-margin-top;
}

.testswrapper {
  display: flex;
  gap: $average-gap;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-top: $double-average-gap;
}

.buttons {
  display: flex;
  gap: calc($space * 2);
  margin-top: calc($space * 2);
}
