@use '@/styles/config.scss' as *;

.wrapper {
  position: relative;
  overflow-y: visible;
}

.breakdiv {
  height: 60vh;
  grid-column: 2;
}

.h1 {
  grid-column: 2;
}

.bottompwrap {
  display: flex;
  justify-content: space-between;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  gap: $space;
}

.p {
  grid-column: 2;
}

@media screen and (max-width: 699px) {
  .bottompwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $double-average-gap;
  }

  .right {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 колонки */
    gap: $space;
  }
}
