@use '@/styles/config.scss' as *;

.answers {
  display: flex;
  flex-direction: column;
  gap: $average-gap;
  margin-top: calc($space * 2);
}

.answer {
  all: unset;
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: calc($space * 2.5) calc($space * 3);
  border-radius: $radius;
  background: rgba(255, 255, 255, 0.12);
  cursor: pointer;
  transition:
    background 300ms ease,
    opacity 300ms ease;

  &:hover,
  &:focus,
  &:focus-visible {
    background: rgba(255, 255, 255, 0.2);
  }

  &:active {
    background: rgba(255, 255, 255, 0.3);
  }
}
