@use '@/styles/config.scss' as *;

.wrapper {
  position: relative;
  z-index: 20;
}

.testbox {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  width: 80%;
  margin-inline: auto;
  background: $backgroung-grad-base;
  padding: $padding;
  border-radius: $radius;
  &::before {
    @include border();
    pointer-events: none;
  }
}

.span {
  @include label();
}

.h3 {
  margin-top: calc($space * 2);
  margin-bottom: calc($space * 3);
}

@media screen and (max-width: 499px) {
  .h3 {
    margin-top: calc($space * 6);
    margin-bottom: calc($space * 7);
  }
}
