@use '@/styles/config.scss' as *;

.wrapper {
  position: relative;
  z-index: 20;
}

.testbox {
  position: relative;
  top: 40vh;
  width: 80%;
  margin-inline: auto;
  background: $backgroung-grad-base;
  padding: $padding;
  border-radius: $radius;
  &::before {
    @include border();
    pointer-events: none;
  }
}

.span {
  @include label();
}
